@import "./../mixins.scss";
.app-input {
    display: inline-block;
    @include border-radius(2px);
    background-color: #e9e9e9;
    border: 1px solid #c3c3c3;
    padding: 2px;
    @include transition(all 300ms ease-in-out);

    input {
        height: 100%;
        border: none;
        display: inline-block;
        padding-left: 5px;
        color: #444;
        background-color: transparent;

        &:read-only {
            cursor: pointer;
        }
    }

    .clear-button {
        display: inline-block;
        margin-right: 5px;
        color: #ccc;
        @include transition(color 300ms ease-in-out);

        &:hover {
            color: #000;
        }
    }

    .prefix {
        display: inline-block;
        margin-left: 5px;
    }

    &.transparent {
        border: none;
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
    }

    &.small {
        padding: 0px;
        input {
            width: 75px;
            padding-left: 3px;
        }
    }

    &:hover {
        background-color: #f7f7f7;
    }
    &.contains-errors {
        border-color: red;
    }
}
