<div class="history-container wow bounceInDown" ng-controller="HistoryController">
    <div id="history-anchor"></div>
    <div class="container">
        <div class="row col-xs-12 headline wow bounceInLeft">
            <h2>Employment History</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 wow bounceInRight">
                <div id="owl-employers">

                    <div ng-repeat="employer in employerData" class="employer-container">
                        <a target="blank_" href="{{employer.Url}}">
                            <img class="employer-item-logo" ng-src="{{employer.logoSrc}}" />
                            <img class="employer-item-preview" ng-src="{{employer.previewSrc}}" />
                            <div class="employer-item-description">
                                <h5>{{employer.name}}</h5>
                                <p>{{employer.position}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>