<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#top">Seriously Brutal</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul  ng-class="{'center-disabled': currSection === '#roster' || currSection === '#application'}" class="nav navbar-nav navbar-right">
                <li ng-class="{'side-active': currSection === '#roster'}"><a ng-click="navToAnchor('#roster');">ROSTER</a></li>
                <li><a href="#top">HOME</a></li>
                <li><a href="#news">GUILD NEWS</a></li>
                <li ng-class="{'side-active': (currSection === '#application' && applicationFactory.type === 'raider')}"><a ng-click="applicationFactory.type = 'raider'; navToAnchor('#application');">RAIDER APPLICATION</a></li>
                <li ng-class="{'side-active': (currSection === '#application' && applicationFactory.type === 'rbg')}"><a ng-click="applicationFactory.type = 'rbg'; navToAnchor('#application');">RBG APPLICATION</a></li>
            </ul>
        </div>

    </div>
</nav>

<div class="content-container">
    <div id="top" ng-include="template.top"></div>
    <div id="roster" ng-include="template.roster"></div>
    <div id="news" ng-include="template.news"></div>
    <div id="application" ng-include="template.application"></div>
</div>
